@using vidly.Static_data;
@model vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = StaticData.AppTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customer.Id == 0)
{
    <h2>Add Customer</h2>
}
else
{
    <h2>Edit Customer</h2>
}

@using (@Html.BeginForm("Save", "Customers"))
{
    @*@Html.ValidationSummary()*@
    @*@Html.ValidationSummary(true, "Please fix the errors shown")*@
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Birthdate)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribed to Newsletter ?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

