@using vidly.Static_data;
@using vidly.Models;

@{
    ViewBag.Title = StaticData.AppTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("New Customer", "New", "Customers", new { @class = "btn btn-primary" })
</p>

@if (Model == null)
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table id="customers" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Customer</th>
                @*<th>Discount Rate</th>*@
                <th>Membership Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(((Customer)customer).Name, "Edit", "Customers", new { Id = customer.Id }, null)</td>
                    @*<td>@customer.MembershipType.DiscountRate %</td>*@
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script> 
        $(document).ready(function () {
            $("#customers").on("click", ".js-delete", function () {
                let self = this;
                bootbox.confirm("Are you sure you want to delete this customer ?", function (result) {
                    if (result) {
                        deleteThisCustomer(self);
                    }
                });
            })
        });

        function deleteThisCustomer(self) {
            $.ajax({
                url: "/api/customers/" + $(self).attr("data-customer-id"),
                method: "DELETE",
                success: removeParentsTr(self)
            })
        }

        function removeParentsTr(self) {
            $(self).parents("tr").remove();
        }
    </script>
}

